<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/water.css">
    </head>
    <body>
        <h1>ADD NEW NODES</h1>

        <form method="POST", action="/nodes/register">

            <p>Input new nodes adress</p>
            <input type="text" id="adress" name="adress" placeholder="adress">
            <button type="submit">SEND</button><button type="reset">CLEAR</button>

        </form>

        <h1>FIX CHAIN</h1>
        <a href="http://localhost:5000/nodes/resolve"><div>FIX</div></a>

    </body>
</html>